/* Header */

.header {
font-family: Verdana;
font-size: 14px;
font-weight: bold;
display: flex;
position: fixed;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid black;
width: 100%;
height: 75px;
top: 0px;
left: 0px;
right: 0px;

}

.header h3 {
  color: MediumAquamarine;

}

.header nav {

}

.header a {
  color: black;
}

.header .logo {
display: inline-flex;

}

/* columns */

.column {
  display: flex;
  align-content: space-between;
  padding-top: 75px;
}

.column.large {
  width: 630px;

}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
